
<div class="bg-image"></div>

<div class="bg-text">
<mat-card class="example-card">
    <img mat-card-image src="../../../assets/movie1.jpg" alt="Movie banner">
    <mat-card-content>
        <h4>Welcome To</h4>
   
        <h2><b>BookMyMovie</b></h2>
      <p><i>Where Movie comes to Life !</i></p>
    </mat-card-content>
    <mat-card-actions >
        <button mat-raised-button color="accent" [routerLink]="['/home']">BOOK NOW !</button>
      </mat-card-actions>
  </mat-card>
  <footer>
    <p style="text-align: center;font-size: large;font-style: italic;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Application created by: Arnab Basu</b><br>
   
  </footer>
</div>


  