<button mat-icon-button style="float: right; margin: 5px;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>

    <mat-dialog-content>
        <header><h1>Update Password</h1></header>
    
    <p>
        <mat-form-field>
            <mat-label>UserName</mat-label>
            <input matInput [(ngModel)]="user.userName"  required>
            <mat-hint style="color: blue;">Provide the username that you used while registration</mat-hint>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field style="margin-top: 10px;">
            <mat-label>Favorite food(secret answer)</mat-label>
            <input matInput [(ngModel)]="user.secretAns" required>
            <mat-hint style="color: blue;">Provide the secret answer that you used while registration</mat-hint>
        </mat-form-field>
    </p>

    <p>
    
        <mat-form-field style="margin-top: 30px;">
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.userPassword" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint style="color: blue;">Provide new password</mat-hint>
        </mat-form-field>
    </p>

    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="updatePassword()"> Update </button>
        <button mat-raised-button color="warn" matDialogClose> Cancel </button>
    </mat-dialog-actions>

